.App, body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
}

.h1 {
    display: flex;
    justify-content: center;
    color: #90EE90;
}

.p {
    
    border: 3px solid violet;
    font-size: medium;
    text-align: justify;
    margin: auto;
    color: #90EE90;
}

.attempt {
    color: blueviolet;

}

.guess {
    display: flex;
    justify-content: center;
}

.buttonCheck {
    margin:auto;
    width:200px;
}

.buttonReload {
    margin:auto;
    width:200px;
}

.past {
    color: gray;
}

.deadpast {
    color: red;
}

