.App{
display: flex;
justify-content: space-around;
flex-direction: column;
}

.row{
display: flex;
}

.itemTable{
font-size: 19px;
border: 1px solid #888;
border-radius: 4px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
margin: 5px;
min-height: 48px;
min-width: 48px;
}


.table{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin: 25px;
border: 1px solid #888;
border-radius: 4px;
padding: 10px;

}