.App {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.h1 {
    display: flex;
    justify-content: center;
    color: blue;
}

.p {
    
}

.attempt {
    color: blueviolet;

}

.guess {

}

.buttonCheck {

}

.buttonReload {

}

.past {
    color: gray;
}