.Dn {
    
}



.Sun {
    position: fixed;
    width: 200px;
    top: 50px;
    left: 50px;
}


.Moon {
    position: fixed;
    width: 200px;
    top: 50px;
    left: 50px;
    bottom: 0;
}

.moonDiv {
    
}

.Cloud {
    display: inline;
    width: 600px;
    float: right;
}

.Show-enter {
opacity: 0;
transform: scale(0.9);
}

.Show-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition-duration: opasity 300ms, transform 300ms;
}

.Show-exit {
    opacity: 1;
}

.Show-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition-duration: opasity 300ms, transform 300ms;
}

/* .Show-enter {
    opacity: 0;
}

.Show-enter.Show-enter-active {
    opacity: 1;
    transition: opacity 300ms, ease;
}

.Show-exit {
    opacity: 1;
}

.Show-exit.Show-exit-active {
    opacity: 0;
    transition: opacity 300ms, ease;
} */

/* .my-node-enter {
    opacity: 0;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .my-node-exit {
    opacity: 1;
  }
  .my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  } */


.Sun2 {
    position: fixed;
    top: 25px;
    left: 25px;
    transform: translate(-25px, -25px);
}

.Moon2 {
    position: fixed;
    top: 25px;
    left: 25px;
    transform: translate(-25px, -25px);
}